@charset "utf-8";
/* Pre Style
---------------------------------------------------- */
/* Link */
/* a:not(.uk-close):not(.uk-button) {color: #36863d;} */
/* a:hover, a:active, .link a:link, .link a:visited, .link a:focus, .uk-breadcrumb a:link, .uk-breadcrumb a:visited, .uk-breadcrumb a:focus {color: #36863d !important;} */
body {background: linear-gradient(to bottom, #79e0f2 0%, #00bed0 100%);}

/* Color */
.color_primary, .color_primary *, .hover_color_primary:focus, .hover_color_primary:hover, ul.hover_color_primary>li>a:focus, ul.hover_color_primary>li>a:hover {color: #36863d !important;}
a.color_primary:hover, a.color_primary:hover *, .color_primary a:hover {color: #2d6f32 !important;}
.color_secondary, .color_secondary *, .hover_color_secondary:focus, .hover_color_secondary:hover, ul.hover_color_secondary>li>a:focus, ul.hover_color_secondary>li>a:hover,  .active .color_active_secondary {color: #1f73c9 !important;}
a.color_secondary:hover, a.color_secondary:hover *, .color_secondary a:hover {color: #1c65b1 !important;}

/* Color & Background */
.bg_hover_white_color_primary:focus, .bg_hover_white_color_primary:hover {color: #36863d !important; background-color: white;}
.bg_hover_white_color_secondary:focus, .bg_hover_white_color_secondary:hover {color: #1c65b1 !important; background-color: white;}

.bg_primary, .btn_primary, .btn_hover_primary.uk-active, .btn_hover_primary:hover, .bg_hover_primary:hover, .hover_primary li>a:hover, .hover_primary li.uk-active>a, ul.bg_hover_primary>li>a:focus, ul.bg_hover_primary>li>a:hover, ol.listDecimalRow.listBadgePrimary>li:before {color: white !important;background-color: #36863d !important;}
.bg_primary_dark {color: white !important;background-color: #2d6f32 !important;}

.bg_secondary, .btn_secondary, .btn_hover_secondary.uk-active, .btn_hover_secondary:hover, .hover_bg_secondary:hover, .hover_secondary li>a:hover, .hover_secondary li.uk-active>a, ul.hover_bg_secondary>li>a:focus, ul.hover_bg_secondary>li>a:hover, ol.listDecimalRow.listBadge.listBadgeSecondary>li:before {color: white !important;background-color: #1f73c9 !important;}

/* Button & Background */
.btn_primary:focus, .btn_primary:hover, .btn_primary.selected, .bg_primary_hover:hover, .active .bg_primary_hover, a:hover .bg_primary_hover {background-color: #2d6f32 !important;}
.btn_secondary:focus, .btn_secondary:hover, .btn_hover_secondary_dark:hover, .active.active_secondary.btn_primary, .active.active_secondary .bg_primary, .active.active_secondary .bg_primary_hover {background-color: #1c65b1 !important;}
.btn_primary:hover>*, .btn_secondary:hover>* {color: white !important;}

.bg_darkGrey_dotPattern {background: #626262 !important; background: linear-gradient(90deg, #626262 10px, transparent 1%) center, linear-gradient(#626262 10px, transparent 1%) center, #b3b3b3 !important; background-size: 11px 11px !important;}

/* Border */
.border_primary, .border_primary li[class*=active] a, .border_primary li a[class*=open], .border_primary li a:hover, .border_hover_primary:focus, .border_hover_primary:hover {border-color: #36863d !important;}
.border_secondary, .border_secondary li[class*=active] a, .border_secondary li a[class*=open], .border_secondary li a:hover, .border_hover_secondary:focus, .border_hover_secondary:hover {border-color: #1f73c9 !important;}

/* End Pre Style
---------------------------------------------------- */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Style */

.fontsize li>a {color: #36863d !important; border: 1px solid #36863d;}
.fontsize li.uk-active>a, .fontsize li.uk-open>a, .fontsize li>a:focus, .fontsize li>a:hover {background: #36863d !important; border-color: #36863d; color: white !important;}

.bg_img_gradient {
  background: linear-gradient(to right, rgba(213, 227, 230,0.8) 0%, rgba(213, 227, 230,0.9) 50%, rgba(213, 227, 230,0.8) 100%), url(../img/blank.gif) no-repeat center center;
  background: radial-gradient(ellipse at 50% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(../img/blank.gif) no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 2px 50px 2px rgba(74, 123, 134, 0.5);
}

.listTabs .uk-list {
  border-top: 1px solid #E5E5E5;
}
.listTabs a {
  line-height: 30px;
  padding: 5px 10px;
}
.uk-nav-side ul a {
  color: #444;
}
.listTabs a:hover, .listTabs .uk-active>a,
.nav_side a:hover, .nav_side .uk-active a {
  color: white !important;
  background-color: #36863d;
  text-decoration: none;
}
.listTabs .uk-grid-divider>li, .listTabs .uk-grid-divider>li:last-child:nth-child(odd) {
  border-right: 1px solid #E5E5E5;
}
.listTabs .uk-grid-divider>li:nth-child(even),
.listTabs .uk-grid-divider>li:last-child {
  border-right: 0;
}
.listTabs .uk-grid-divider>li:last-child:nth-child(odd) a {
  border-bottom: 0;
}
.listTabs .uk-nav {
  border: 1px solid #E5E5E5;
  border-bottom: 2px solid #dcdada;
}
.listTabs .uk-nav>li {
  border-bottom: 1px solid #E5E5E5;
}
.listTabs .uk-nav>li:last-child:nth-child(odd) {
  border-bottom: none;
}
.listTabs .uk-nav a {
  color: #36863d;
  padding: 5px 15px;
}
.listTabs.listIconIndent .uk-nav a {
  padding-left: 35px;
  text-indent: -20px;
}
.listTabs.listIconIndent .uk-nav a span {
  text-indent: 0;
}
.listTabs .uk-nav>li:not(.uk-active):not(.uk-parent)>a, .listTabs .uk-nav>li:not(.level3) li:not(.uk-active):not(.uk-parent)>a, .listTabs .uk-nav>li.level3 li li:not(.uk-active):not(.uk-parent)>a {
  padding-left: 25px;
}
.listTabs .uk-nav>li.uk-open>a,
.nav_side .uk-nav>li.uk-open>a {
  background: #c1ced4  !important;
  color: white !important;
}
.listTabs .uk-active>a,
.listTabs .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs li.level3 .uk-nav-sub>li[aria-expanded="false"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li.level3 li li>a {
  color: #36863d !important;
  background-color: transparent;
}
.listTabs .uk-nav li a:hover,
.listTabs .uk-nav>li.uk-active>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover
.nav_side .uk-nav li a:hover, .nav_side .uk-nav>li.uk-active>a {
  background: #36863d;
  color: white !important;
}
.listTabs .uk-nav>li.level3 li>a,
.listTabs .uk-nav>li.level3[aria-expanded="true"] li[aria-expanded="true"]>a {
  background: #1f73c9;
  color: white !important;
}
.listTabs.listTabs_grey .uk-nav a {
  color: #a9afb1;
}
.listTabs.listTabs_grey .uk-nav li a:hover,
.listTabs.listTabs_grey .uk-nav>li.uk-active>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_grey .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover {
  background: #cfd8dc;
}
.listTabs.listTabs_secondary .uk-nav a {
  color: #1f73c9;
}
.listTabs.listTabs_secondary .uk-nav li a:hover,
.listTabs.listTabs_secondary .uk-nav>li.uk-active>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="true"]>a,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="true"] li[aria-expanded="false"]>a:hover,
.listTabs.listTabs_secondary .uk-nav>li[aria-expanded="true"] li[aria-expanded="false"] li>a:hover
.nav_side.nav_side_secondary .uk-nav li a:hover,
.nav_side.nav_side_secondary .uk-nav>li.uk-active>a {
  background: #1f73c9;
}

.bg_index {background-image: url(../img/bg_index.png); background-position-x: calc(50% + 20px); background-position-y: -150px;}
.bg_heart {background-image: url(../img/bg_heart.png); background-position-y: -80px; background-size: auto 75%;}
.bg_heart_index {background-position-y: -150px; background-size: 570px;}

/* .circleTab {background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaXJjbGUiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWNpcmNsZSBmYS13LTE2IGZhLTN4Ij48cGF0aCBmaWxsPSIjMzY4NjNkIiBkPSJNMjU2IDhDMTE5IDggOCAxMTkgOCAyNTZzMTExIDI0OCAyNDggMjQ4IDI0OC0xMTEgMjQ4LTI0OFMzOTMgOCAyNTYgOHoiPjwvcGF0aD48L3N2Zz4=");} */
header .uk-navbar-right>.uk-flex>span:nth-child(6)>.circleTab {min-height: 83px;}
header .uk-navbar-right>.uk-flex>span:nth-child(6)>.circleTab>.pb-2 {margin-top: 7px;}
.circleTab>img {width: 45px;}
.circleTab {border-radius: 50%!important;}
.eng .circleTab {border-radius: .25rem!important;}
.circleTab>div>.eng {margin-top: -5px;}
header nav .uk-hidden\@l>div {height: 45px;}
header nav .uk-hidden\@l .circleTab {width: 45px; height: 45px;}

.max_h:after {background: linear-gradient(to top, rgb(31, 115, 201) 50%, rgba(255, 255, 255, 0) 100%); height: 30px;}
.index .uk-overflow-hidden {max-height: 200px;}
.afterArrow:not(:last-child):after {padding-right: 0;}
.afterArrow:not([disabled]):hover svg.color_grey>path {color: #36863d !important;}
.afterArrow:hover>span>span {color: #ffffff !important;}
.afterArrow:hover::after {color: #6f6f6f !important;}
h2.roundedT20 {min-height: 46px;}

small.eng {line-height: normal;}

/* Bootstrap 4 Style
---------------------------------------------------- */

.list-group-item.active, .list-group-item.active>a, .list-group-item.active>a>*, .list-group-item .active, .list-group-item .active>a, .list-group-item .uk-active>a {background-color: #36863d; border-color: #36863d; color: white !important;}

/* End Bootstrap 4 Style
---------------------------------------------------- */

/* Uikit 3 Style
---------------------------------------------------- */

.uk-pagination > .uk-active > span, .uk-subnav-pill>.uk-active>a {background: #1f73c9; color: #fff;};

/* End Uikit 3 Style
---------------------------------------------------- */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ End of Style */


/*bs-sm*/
@media (min-width: 576px) {
}

/*uk-@s*/
@media (min-width:640px) {
header nav .uk-hidden\@l>div {height: 54px;}
header nav .uk-hidden\@l .circleTab {width: 54px; height: 54px;}
}

/*bs-md*/
@media (min-width:768px) {
}

/*uk-@m*/
@media (min-width:960px) {
.uk-navbar-center {margin-top: 50px;}
.index .uk-overflow-hidden {max-height: 160px;}
}

/*bs-lg*/
@media (min-width: 992px) {
}

/*uk-@l, bs-xl*/
@media (min-width: 1200px) {
.circleTab img {width: 80px;}
.index .uk-overflow-hidden {max-height: 160px;}
}

/*uk-@xl*/
@media (min-width:1600px) {
/* .index .uk-overflow-hidden {max-height: 140px;} */
}

/* Portrait */
@media screen and (orientation:portrait) {
}
/* Landscape */
@media screen and (orientation:landscape) {
}

/* ----------- IE10+ ----------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.height_fixIE {
  height: 100%;
}
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
}